html {
  width: 100%; }

body {
  color: white;
  font-family: "freight-text-pro", "Times New Roman", serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased; }

article {
  margin: 22px 0 22px 0;
  width: 100%;
  position: relative;
  z-index: 2; }
  @media (min-width: 1000px) {
    article {
      margin: 44px 0;
      position: absolute;
      top: 0;
      left: 0; } }

footer {
  margin: 22px;
  position: relative;
  z-index: 2; }
  @media (min-width: 1000px) {
    footer {
      margin: 44px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; } }

h1 {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  font-weight: 500;
  letter-spacing: 4px;
  font-family: "nimbus-sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media (min-width: 1000px) {
    h1 {
      letter-spacing: 10px;
      font-size: 36px;
      line-height: 42px; } }

p {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500; }

a {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 500;
  color: inherit;
  font-size: 95%;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.66);
  height: 22px; }
  a:hover {
    border-bottom: 2px solid white; }

#background-graphic {
  position: fixed;
  width: 2000px;
  height: 2000px;
  top: 500px;
  left: 500px;
  margin-top: -1000px;
  margin-left: -1000px;
  z-index: 1;
  pointer-events: none;
  background-color: #e0e0e0;
  -webkit-animation: spin 150s infinite linear;
  animation: spin 150s infinite linear;
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  -moz-transform: translate3d(0, 0, 0) rotate(0deg);
  -ms-transform: translate3d(0, 0, 0) rotate(0deg);
  -o-transform: translate3d(0, 0, 0) rotate(0deg);
  transform: translate3d(0, 0, 0) rotate(0deg); }
  @media (min-width: 1000px) {
    #background-graphic {
      top: 50%;
      left: 50%; } }

svg {
  width: 2000px;
  height: 2000px; }
  svg circle {
    width: 500px;
    height: 500px;
    cx: 1000px;
    cy: 1000px;
    r: 1000px;
    opacity: 0.66; }
    svg circle:nth-child(1) {
      fill: black;
      -webkit-animation: spin-circle-1 761s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(0deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(0deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(0deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(0deg);
      transform: translate3d(12%, 12%, 0) rotate(0deg); }
    svg circle:nth-child(2) {
      fill: black;
      -webkit-animation: spin-circle-2 892s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(30deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(30deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(30deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(30deg);
      transform: translate3d(12%, 12%, 0) rotate(30deg); }
    svg circle:nth-child(3) {
      fill: black;
      -webkit-animation: spin-circle-3 338s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(60deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(60deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(60deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(60deg);
      transform: translate3d(12%, 12%, 0) rotate(60deg); }
    svg circle:nth-child(4) {
      fill: black;
      -webkit-animation: spin-circle-4 433s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(90deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(90deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(90deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(90deg);
      transform: translate3d(12%, 12%, 0) rotate(90deg); }
    svg circle:nth-child(5) {
      fill: black;
      -webkit-animation: spin-circle-5 912s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(120deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(120deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(120deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(120deg);
      transform: translate3d(12%, 12%, 0) rotate(120deg); }
    svg circle:nth-child(6) {
      fill: black;
      -webkit-animation: spin-circle-6 679s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(150deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(150deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(150deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(150deg);
      transform: translate3d(12%, 12%, 0) rotate(150deg); }
    svg circle:nth-child(7) {
      fill: black;
      -webkit-animation: spin-circle-7 445s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(180deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(180deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(180deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(180deg);
      transform: translate3d(12%, 12%, 0) rotate(180deg); }
    svg circle:nth-child(8) {
      fill: black;
      -webkit-animation: spin-circle-8 123s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(210deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(210deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(210deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(210deg);
      transform: translate3d(12%, 12%, 0) rotate(210deg); }
    svg circle:nth-child(9) {
      fill: black;
      -webkit-animation: spin-circle-9 452s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(240deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(240deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(240deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(240deg);
      transform: translate3d(12%, 12%, 0) rotate(240deg); }
    svg circle:nth-child(10) {
      fill: black;
      -webkit-animation: spin-circle-10 976s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(270deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(270deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(270deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(270deg);
      transform: translate3d(12%, 12%, 0) rotate(270deg); }
    svg circle:nth-child(11) {
      fill: black;
      -webkit-animation: spin-circle-11 112s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(300deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(300deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(300deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(300deg);
      transform: translate3d(12%, 12%, 0) rotate(300deg); }
    svg circle:nth-child(12) {
      fill: black;
      -webkit-animation: spin-circle-12 382s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform: translate3d(12%, 12%, 0) rotate(330deg);
      -moz-transform: translate3d(12%, 12%, 0) rotate(330deg);
      -ms-transform: translate3d(12%, 12%, 0) rotate(330deg);
      -o-transform: translate3d(12%, 12%, 0) rotate(330deg);
      transform: translate3d(12%, 12%, 0) rotate(330deg); }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes spin-circle-1 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(360deg); } }
@keyframes spin-circle-1 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(0deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(360deg); } }
@-webkit-keyframes spin-circle-2 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(30deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(390deg); } }
@keyframes spin-circle-2 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(30deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(390deg); } }
@-webkit-keyframes spin-circle-3 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(60deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(420deg); } }
@keyframes spin-circle-3 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(60deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(420deg); } }
@-webkit-keyframes spin-circle-4 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(90deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(450deg); } }
@keyframes spin-circle-4 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(90deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(450deg); } }
@-webkit-keyframes spin-circle-5 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(120deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(480deg); } }
@keyframes spin-circle-5 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(120deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(480deg); } }
@-webkit-keyframes spin-circle-6 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(150deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(510deg); } }
@keyframes spin-circle-6 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(150deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(510deg); } }
@-webkit-keyframes spin-circle-7 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(180deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(540deg); } }
@keyframes spin-circle-7 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(180deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(540deg); } }
@-webkit-keyframes spin-circle-8 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(210deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(570deg); } }
@keyframes spin-circle-8 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(210deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(570deg); } }
@-webkit-keyframes spin-circle-9 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(240deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(600deg); } }
@keyframes spin-circle-9 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(240deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(600deg); } }
@-webkit-keyframes spin-circle-10 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(270deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(630deg); } }
@keyframes spin-circle-10 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(270deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(630deg); } }
@-webkit-keyframes spin-circle-11 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(300deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(660deg); } }
@keyframes spin-circle-11 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(300deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(660deg); } }
@-webkit-keyframes spin-circle-12 {
  0% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(330deg); }
  100% {
    -webkit-transform: translate3d(12%, 12%, 0) rotate(690deg); } }
@keyframes spin-circle-12 {
  0% {
    transform: translate3d(12%, 12%, 0) rotate(330deg); }
  100% {
    transform: translate3d(12%, 12%, 0) rotate(690deg); } }

/*# sourceMappingURL=all.css.map */
